@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root {
  --light: #e8e8e8;
  --dark: #111827;
  --accent: #10ba1e;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-family: "Roboto", sans-serif; */
  font-family: "Inter", sans-serif;
}
body {
  overflow-x: hidden;
}

#app-wrapper {
  min-height: 100vh;
  width: 100vw;
  background: var(--dark);
  overflow: hidden;
  padding: 5%;
  color: var(--light);
}

.flex {
  display: flex;
  align-items: center;
  gap: 1rem
}
.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-col {
  display: flex;
  gap: 1rem;
  flex-direction: column
}

figure {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}


@media only screen and (min-width: 800px) {
  #app-wrapper {
    padding: 3rem;
  }
  
}

@media only screen and (min-width: 1000px) {
    
}