#footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 5%;
  color: var(--light);
}

#footer div a {
  text-decoration: none;
  font-weight: 600;
  color: var(--light);
}
.close-nav {
  display: none;
}