#home {
  padding: 5rem 0;
  position: relative;
  z-index: 10;
  color: var(--light);
}
#home div {
  max-width: 59%;
  z-index: 10;
  color: var(--light);
}
#home div h1 {
  font-size: 2rem;
}
#home div p {
  font-size: 1rem;
}
#home button {
  margin-top: 2rem;
  padding: 1rem 1.5rem;
  background: hsl(120, 100%, 25%);
  border: none;
  outline: none;
  color: var(--dark);
  font-weight: 600;
  background-color: var(--accent);
  border-radius: .3rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
#home button:hover {
  background: hsl(120, 87%, 22%);
}
#figure-wrapper {
  position: absolute;
  bottom: 0;
  right: 10%;
  z-index: 5;
  display: flex;
  flex-direction: column; 
}


@media only screen and (min-width: 800px) {
  #home {
    padding: 8rem 0;
  }
  #home div {
  max-width: 70%;
}

  #home div h1 {
  font-size: 3rem;
}
}

@media only screen and (min-width: 1200px) {
  #home div {
  max-width: 60%;
}

#home div h1 {
  font-size: 4rem;
}

#home {
    padding: 10rem 0;
  }
}