#how-to-use-wrapper {
  text-align: center;
}

.section-heading {
  text-align: center;
  position: relative;
  font-size: 3rem;
  text-align: center;
  display: inline-block;
  margin: 2rem;
}

.section-heading:before {
  position: absolute;
  height: 2px;
  width: 100%;
  background: var(--light);
  bottom: 0;
  content: "";
}

#how-to-use {
  background: var(--light);
  color: var(--dark);
  border-radius: 1rem;
  padding-bottom: 1rem;
  margin: 10rem 0 2rem 0 ;
}

#how-to-use-wrapper {
  text-align: center;
}

#how-to-use-info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
#how-to-use div, video {
  padding: 0 1%;
}
#how-to-use div h4 {
  font-size: 2rem;
}
#how-to-use div p {
  margin-top: .5rem;
  font-size: 1.2rem;
  text-align: justify;
}

#how-to-use-info div img {
  margin: 2rem 0;
  max-width: 100%;
}



