#how-to-use-wrapper {
  text-align: center;
}

.section-heading {
  text-align: center;
  position: relative;
  font-size: 3rem;
  text-align: center;
  display: inline-block;
  margin: 2rem;
}

.section-heading:before {
  position: absolute;
  height: 2px;
  width: 100%;
  background: var(--light);
  bottom: 0;
  content: "";
}

#how-to-use {
  padding-bottom: 1rem;
  margin: 10rem 0 2rem 0 ;
  z-index: 20;
}
#how-to-use h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
}
.how-to-use-options-wrapper{
    gap: 10px;
}

#how-to-use video {
    max-width: 100%;
    margin-top: 1rem;
    border-radius: 0 0 10px 10px;
  }


@media screen and (min-width: 1200px) {
  #how-to-use h2 {
    font-size: 3rem;
  margin-bottom: 3rem;
  }
  
}
