header div img {
  max-width: 150px;
}

header .nav-btn {
  border: none;
  background: transparent;
  font-size: 2rem;
  padding: 2rem 0;
  display: none;
  z-index: 5;
  color: var(--light);
}


@media only screen and (max-width: 1024px) {
  header .nav-btn {
    display: block;
  }

  header nav {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    background: var(--dark);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 1s;
    transform: translateX(100vh);
    z-index: 20;
  }

  header .responsive_nav {
    transform: none;
    color: var(--dark);
  }
  nav .nav-close-btn {
    position: absolute;
    top: 1rem;
    right: 2rem;

}
}