.how-to-use-option {
  background: rgba(29, 43, 75, 0.4);  
  backdrop-filter: blur(12px); 
  font-size: 1rem;
  padding: 1rem;
  border-radius: 10px;
  z-index: 20;
  cursor: pointer;
  transition: .3s;
  font-weight: 600;
}

.how-to-use-option p {
    margin-top: 1rem;
    font-size: .9rem;
}

.active, .how-to-use-option:hover {
    background-color: var(--accentHover);
    color: var(--dark);
  }

  @media screen and (min-width: 1200px ) {
    .how-to-use-option p {
      font-size: 1.2rem;
    }
    .how-to-use-option {
      font-size: 1.5rem;
    }
  }