@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}



#app-wrapper {
  height: 100vh;
  width: 100vw;
  background: #111827;
  overflow: hidden;
  padding: 1rem;
}

.flex {
  display: flex;
  align-items: center;
  gap: 1rem
}
.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-col {
  display: flex;
  gap: 1rem;
  flex-direction: column
}
figure {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: absolute;
  inset: 0;
  z-index: 1;
}

nav div img {
  max-width: 150px;
}

#home {
  padding: 4rem 0;
  color: ;
}
#home div {
  max-width: 55%;
  z-index: 10;
}
#home div h1 {
  font-size: 1.5rem;
}
#home div p {
  font-size: .8rem;
}
#home button {
  margin-top: 2rem;
  background: green;
}